body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.seccion1-index{
  background-color:blue;
  width:100%;
  padding:32px;
}
.seccion2-index{
  background-color:green;
  width:100%;
  padding:32px;
}
.seccion3-index{
  background-color:greenyellow;
  width:100%;
  padding:32px;
}
