<nav class="navbar navbar-expand-lg navbar-light bg-violet">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Aldea muebles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Living
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/living-recibidores">Recibidores</a></li>
                        <li><a class="dropdown-item" href="/living-sillones/">Sillones</a></li>
                        <li><a class="dropdown-item" href="/living-mesas/">Mesas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cocina/comedor
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/cocina-mesas">Mesas y sillas</a></li>
                        <li><a class="dropdown-item" href="/cocina-arrime">Mesas de arrime</a></li>
                        <li><a class="dropdown-item" href="/cocina-vitrinas">Vajilleros/Vitrinas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dormitorio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/dormitorio-comodas">C&oacute;modas/Cajoneras</a>
                        </li>
                        <li><a class="dropdown-item" href="/dormitorio-mesas">Mesas de luz</a></li>
                        <li><a class="dropdown-item" href="/dormitorio-roperos">Roperos/Otros</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Oficina
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/oficina-escritorios">Escritorios</a></li>
                        <li><a class="dropdown-item" href="/oficina-bibliotecas">Bibliotecas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Logueate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-16">
    <div class="mt-4 mb-prod">
        <h2 class="titulo-producto">
            Sillones para living
        </h2>
    </div>
    <div class=" container-fluid d-inline-flex flex-wrap">
        {{#each productos}}
        <div class="card" style="width: 18rem;margin-bottom: 8px;margin-right: 8px;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    <li>
                        {{nombreProd}}
                    </li>
                    <li>
                        {{precioLaqueado}}
                    </li>
                </ul>
                <div>
                    <p>
                        {{descripcionProd}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class=" container-fluid text-center text-md-left footer mt-4 d-flex">
    <div class="container">
        <h4>Visitanos en nuestro local</h4>
        <p>Dirección: San Juan 3500, Rosario, Santa Fé</p>
        <p>Horarios: De Lunes a Viernes de 10:00 a 13:30 y de 16:30 a 19:30</p>
    </div>
    <div class="container">
        <h4>Contactanos</h4>
        <p>Pod&eacute;s contactarnos desde la secci&oacute;n contacto</p>
        <p>O pod&eacute;s enviarnos un mail a contactoaldeamuebles@gmail.com</p>
    </div>
</div>